h1 {
  font-size: 42px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-family: "Coiny", sans-serif;
  color: oklch(98.5% 0.001 106.423);
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  font-family: "Sono", sans-serif;
  color: oklch(98.5% 0.001 106.423);
}

.category {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
}

ul {
  list-style: none;
}

.info {
  font-family: "Times New Roman", Times, serif;
  font-size: 10px;
  color: oklch(98.5% 0.001 106.423);
}

body {
  background-color: oklch(21.6% 0.006 56.043);
}
